.adminButtons{
    padding: 1.5rem ;
    margin-top: 2%;
    margin-bottom: 2%;
     background-color: rgb(8, 134, 192);
    border: black;
    border-radius: 1rem;
    color: black;
}
  .adminButtons:hover{
        background-color:rgb(21, 117, 180);
    }