.adminHeader {
  // border-bottom: 2px solid black;
  height: 15vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

  button {
    padding: 1rem 2rem;
    background-color: rgb(8, 134, 192);
    border: none;
    color: white;
    border-radius: 1rem;
  }

  .adminProfile {
    margin-left: 65%;
  }

  .adminPageLogout {
    margin-left: 3%;
  }

  .adminProfile:hover {
    background-color: rgb(35, 218, 19);
  }
  .adminPageLogout:hover {
    background-color: red;
  }
}

.adminprofileModel {
  background-color: black;
  // opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;

  .adminprofilePopup {
    border-radius: 10px;
    background-color: rgb(8, 134, 192);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    border-radius: 1rem;
    h1 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }

    .resetAdminPasswordBtn {
      margin-left: 30%;
      padding: 1rem 1rem;
      background-color: black;
      border: none;
      color: white;
    }

    .resetAdminPasswordBtn:hover {
      background-color: rgb(35, 218, 19);
    }

    .closeAdminProfile {
      padding: 1rem 1rem;
      margin-left: 7%;
      background-color: black;
      border: none;
      color: white;
    }

    .closeAdminProfile:hover {
      background-color: red;
    }
  }
}

.adminResetPaswordModule {
  background-color: black;
  // opacity: 0.8;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;

  .adminResetPasswordPopup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    border-radius: 10px;
    background-color: rgb(8, 134, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    input {
      padding: 1rem 6rem;
      margin-top: 4%;
      border-radius: 1rem;
    }

    .checkAdminResetedPassword {
      margin-top: 2.5%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
    }

    .checkAdminResetedPassword:hover {
      background-color: rgb(35, 218, 19);
    }

    .closeAdminResetPasswordModel:hover {
      background-color: red;
    }

    .closeAdminResetPasswordModel {
      margin-top: 2%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
    }
  }
}
