.storageTable {
  border: 1px solid black;
  position: absolute;
  top: 60%;
  left: 59%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 6px 6px #4f000b, 0 6px 0 #002851, -1px 0px 0 #003872,
    0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b;

  th,
  tr,
  td {
    padding: 1rem 2rem;
    border: 1px solid black;
    color: white;
  }
  td {
    color: black;
  }
  th {
    border: 1px solid black;
    background-color: rgb(8, 134, 192);
  }

  button {
    background: none;
    border: none;
    background-color: rgb(8, 134, 192);
    padding: 0.5rem;
    margin: 5%;
    color: white;
  }

  .editBtn {
    padding-right: 1.5rem;
    text-align: center;
  }

  .editBtn:hover {
    background-color: rgb(35, 218, 19);
  }

  .deleteBtn:hover {
    background-color: red;
  }
}

h1 {
  text-align: center;
  margin-top: 5%;
}

.addStorage {
  padding: 1rem 2rem;
  margin-left: 4%;
  // margin-top: 0.8%;
  background-color: rgb(8, 134, 192);
  color: white;
  border: none;
  border-radius: 1rem;
}

.addStorage:hover {
  background-color: royalblue;
}

.addStorageModel {
  background-color: black;
  margin-top: -12.5%;
  height: 85vh;
  width: 100vw;
  // opacity: 0.5;
  position: absolute;
  z-index: 50;

  .addStoragePopup {
    z-index: 100;
    height: 75vh;
    width: 30vw;
    left: 22%;
    top: 8%;
    background-color: rgb(8, 134, 192);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
  }

  input {
    padding: 0.9rem 4rem;
    margin: 0% 1.5% 1.5% 1.5%;
    text-align: center;
    border-radius: 1rem;
  }

  button {
    padding: 0.9rem 8rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
  }

  .submitNewStorage:hover {
    background-color: rgb(35, 218, 19);
  }

  .closeAddStoragePopup {
    padding: 0.9rem 8.2rem;
    margin: 1%;
  }

  .closeAddStoragePopup:hover {
    background-color: red;
  }
}

.deleteStorageModel{
  background-color: black;
  margin-top: -13.3%;
  height: 85vh;
  width: 100vw;
  // opacity: 0.5;
  position: absolute;
  z-index: 50;

  .deleteStoragePopup{
    z-index: 100;
    height: 25vh;
    width: 40vw;
    left: 22%;
    top: 35%;
    background-color: rgb(8, 134, 192);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem; 
  }

  .deleteStorageButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    button{
      padding: 0.5rem 2rem;
      background-color: black;
      color: white;
      border: none;
      margin: 1rem;
    }

    .submitDeleteStoragePopup:hover{
      background-color: rgb(35, 218, 19);
    }

    .closeDeleteStoragePopup:hover{
      background-color: red;
    }
  }
}
