.orderDetailsTable {
  border: 1px solid black;
  position: absolute;
  top: 60%;
  left: 59%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 6px 6px #4f000b, 0 6px 0 #002851, -1px 0px 0 #003872,
    0px 0px 0 #003872, 0px 7px 8px #000, 0 7px 20px #1b1b1b;

  th,
  tr,
  td {
    padding: 1rem 4rem;
    border: 1px solid black;
    color: white;
  }
  td {
    color: black;
  }
  th {
    border: 1px solid black;
    background-color: rgb(8, 134, 192);
  }

  button {
    background: none;
    border: none;
    background-color: rgb(8, 134, 192);
    padding: 0.5rem;
    margin: 5%;
    color: white;
    
  }

  .acceptBtn:hover {
    background-color: rgb(35, 218, 19);
  }

  .rejectBtn:hover {
    background-color: red;
  }

  .printBtn:hover {
    background-color: purple;
  }
}

h1 {
  text-align: center;
  margin-top: 5%;
}

.acceptNewOrderModel{
  background-color: black;
  margin-top: -9%;
  height: 85vh;
  width: 100vw;
  // opacity: 0.5;
  position: absolute;
  z-index: 50;

  .acceptNewOrderPopup{
    z-index: 100;
    height: 25vh;
    width: 40vw;
    left: 22%;
    top: 35%;
    background-color: rgb(8, 134, 192);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 1rem;
  }

  .acceptNewOrderButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    button{
      padding: 0.5rem 2rem;
      background-color: black;
      color: white;
      border: none;
      margin: 1rem;
    }

    .submitNewOrderPopup:hover{
      background-color: rgb(35, 218, 19);
    }

    .closeNewOrderPopup:hover{
      background-color: red;
    }
  }
}

.deletetNewOrderModel{
  background-color: black;
  margin-top: -9%;
  height: 85vh;
  width: 100vw;
  // opacity: 0.5;
  position: absolute;
  z-index: 50;

  .deleteNewOrderPopup{
    z-index: 100;
    height: 25vh;
    width: 40vw;
    left: 22%;
    top: 35%;
    background-color: rgb(8, 134, 192);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 1rem;
  }

  .deleteNewOrderButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    button{
      padding: 0.5rem 2rem;
      background-color: black;
      color: white;
      border: none;
      margin: 1rem;
    }

    .rejectNewOrder:hover{
      background-color: rgb(35, 218, 19);
    }

    .closeRejectNewOrder:hover{
      background-color: red;
    }
  }
}
