.accountantHeader {
  height: 20vh;
  border-bottom: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;

  button {
    padding: 1rem 2rem;
    background-color: rgb(8, 134, 192);
    border: none;
    color: white;
    border-radius: 1rem;
  }

  .accountantProfile {
    margin-left: 60%;
  }

  .accountantLogout {
    margin-left: 3%;
  }

  .accountantProfile:hover {
    background-color: rgb(35, 218, 19);
  }
  .accountantLogout:hover {
    background-color: red;
  }
}

.profileModel {
  background-color: rgb(255, 255, 255);
  // opacity: 0.8;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 100;

  .profilePopup {

    border-radius: 10px;
    background-color: rgb(161, 207, 228);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    border-radius: 1rem;
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }

    .resetPasswordBtn {
      margin-left: 30%;
      padding: 1rem 1rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .resetPasswordBtn:hover {
      background-color: rgb(35, 218, 19);
    }
    
    .closeAccountantProfile {
      padding: 1rem 1rem;
      margin-left: 7%;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .closeAccountantProfile:hover {
      background-color: red;
    }
  }
}

.resetPaswordModule {
  background-color: black;
  // opacity: 0.8;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  
  .resetPasswordPopup {
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    background-color: rgb(8, 134, 192);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;

    input {
      padding: 1rem 6rem;
      margin-top: 4%;
      border-radius: 1rem;
    }

    .checkResetedPassword {
      margin-top: 2.5%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .checkResetedPassword:hover {
      background-color: rgb(35, 218, 19);
    }

    .closeResetPasswordModule:hover {
      background-color: red;
    }

    .closeResetPasswordModule {
      margin-top: 2%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }
  }
}
