.clerkHeader {
  height: 20vh;
  width: 100vw;
  // border: 2px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
  color: white;

  .clerkBtns {
    margin-left: 46%;
    height: 10vh;
    // border: 2px solid black;
    width: 35vw;
  }

  button {
    padding: 1rem 2rem;
    background-color: rgb(8, 134, 192);
    color: white;
    border: none;
    margin-left: 2%;
    border-radius: 1rem;
  }
}

.clerkprofileModel {
  background-color: black;
  // opacity: 0.8;
  height: 80vh;
  width: 100vw;
  z-index: 100;
  position: absolute;

  .clerkprofilePopup {
   
    border-radius: 10px;
    background-color: rgb(8, 134, 192);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    border-radius: 1rem;
    h1 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }

    .resetClerkPasswordBtn {
      margin-left: 30%;
      padding: 1rem 1rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .resetClerkPasswordBtn:hover {
      background-color: rgb(35, 218, 19);
    }

    .closeClerkProfile {
      padding: 1rem 1rem;
      margin-left: 7%;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .closeClerkProfile:hover {
      background-color: red;
    }
  }
}

.clerkResetPaswordModule {
  background-color: black;
  // opacity: 0.8;
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: 100;

  .clerkResetPasswordPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    background-color: rgb(8, 134, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    input {
      padding: 1rem 6rem;
      margin-top: 4%;
      border-radius: 1rem;
    }

    .checkClerkResetedPassword {
      margin-top: 2.5%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }

    .checkClerkResetedPassword:hover {
      background-color: rgb(35, 218, 19);
    }

    .closeClerkResetPasswordModel:hover {
      background-color: red;
    }

    .closeClerkResetPasswordModel {
      margin-top: 2%;
      padding: 0.5rem 10.3rem;
      background-color: black;
      border: none;
      color: white;
      border-radius: 1rem;
    }
  }
}
